<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
</head>
<body>
<h1>
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Confmark</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <h4>{{ "now"|date("m/d/Y H:i:s") }}</h4>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Speaker 1</th>
                <th scope="col">Speaker 2</th>
                <th scope="col">Speaker 3</th>
                <th scope="col">Room</th>
                <th scope="col">Title of the presentation</th>
                <th scope="col">Summary</th>
                <th scope="col">Start time</th>
                <th scope="col">End time</th>
                <th scope="col">hashtag</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.idspeaker1 }}</td>
                    <td>{{ event.idspeaker2 }}</td>
                    <td>{{ event.idspeaker3 }}</td>
                    <td>{{ event.idroom }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.summary }}</td>
                    <td>{{ event.starttime |date('Y-m-d')}}</td>
                    <td>{{ event.endtime |date('Y-m-d')}}</td>
                    <td>{{ event.hashtag }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</h1>
</body>
</html>